*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 0;
}
div.header{
    position: relative;
    height: 400px;
    background-image: url('Images/eng.jpg');
    background-position: center;
    background-size: cover;
}
div.headerText{
    position: absolute;
    width: 100%;
    top: 25%;
    text-align: center;
    color: rgb(2, 5, 68);
}
p{
    padding-top: 10px;
    text-align: justify;
}
button{
    padding: 10px 20px;
    border: none;
    font-size: medium;
    font-weight: bold;
    color: #12155C;
}
h1{
    font-size: 3.5em;
}
